<h1>My Routing</h1>

<h3>Classic Menu</h3>
<nav>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/homepage">Homepage (alt)</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

<h3>Angular Menu</h3>
<nav>
  <ul>
    <li><a routerLink="/">Homepage</a></li>
    <li><a routerLink="/homepage">Homepage (alt)</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</nav>


<hr> 
<router-outlet></router-outlet>

<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4xDzrJKXOOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>



<!--
<hr>
<app-homepage></app-homepage>

<hr>
<app-about></app-about>

<hr>
<app-contact></app-contact>
-->